@font-face{
    font-family: 'Druk Wide Medium';
    src:url('../fonts/Druk\ Wide\ Medium\ Regular.woff2') format('woff2'),
        url('../fonts/Druk\ Wide\ Medium\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
